*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:0;
}


body{
    font-family: sans-serif;
    background-image: linear-gradient( to right, rgba(79,51,176,1.0),rgb(53, 155, 210),rgba(0, 0, 0, 0.85));
}

.container{
    height:100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
}

.calculator
{
    background-color: black;
    border-radius:30px;
}


#display
{
    border: 0;
    font-size: 30px;
    background-color: black;
    color: rgb(186, 220, 20);
    width: auto;
    height: auto;
    margin-top: 60px;   
}
input{
    text-align: right;
    font-size: 40px;
}
button{
    height: 60px ;
    width: 60px;
    font-size: 20px;
    background-color: black;
    color: white;
    margin: 15px;
    border:none;
    margin-top: 10px;
}

button:hover {
    transform: scale(1.1);
}

.buttons .operator{
    color: orangered;
}
#c{
    color: green;
}




.Number{
    color: rgb(182, 78, 95);
}